repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        args: ['--line-length', '140']
